Source: xc8
Section: compilers
Priority: extra
XBSC-Family: pic18,pic16
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: xc8
Homepage: http://www.microchip.com/pagehandler/en-us/devtools/mplabxc/home.html
Architecture: all
Description: Microchip XC8 compiler
 Wrapper for system-installed XC8 compiler.
 .
 This allows the use of the Microchip® MPLAB® XC8 compiler for 8-bit PIC® devices. 
 In order for it to work you must first have installed the XC8 compiler downloadable 
 from http://www.microchip.com/mplab/compilers
